<div style="padding-top:20px;">
  <!--{{party | json}}-->
  <form id="form" name="form" class="form-horizontal" autocomplete="off" ng-submit="ok()">

    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">First Name: <span style="color: red">*</span></label>
      <div class="col-sm-4">
        <input autofocus required type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First name" ng-model="party.firstname" ng-pattern="/^[\sa-zA-Z]+$/">
        <span style="color: red" class="error" ng-show="form.firstname.$error.required && form.firstname.$dirty">Required!!!</span>
        <span style="color: red" class="error" ng-show="form.firstname.$error.pattern && form.firstname.$dirty">Only alphabets please.</span>        
      </div>
      <label for="lastname" class="col-sm-2 control-label">Last Name: <span style="color: red">*</label>
      <div class="col-sm-4">
        <input required type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last name" ng-model="party.lastname" ng-pattern="/^[\sa-zA-Z]+$/">
        <span style="color: red" class="error" ng-show="form.lastname.$error.required && form.lastname.$dirty">Required!!!</span>
        <span style="color: red" class="error" ng-show="form.lastname.$error.pattern && form.lastname.$dirty">Only alphabets please.</span>        
      </div>
    </div>
    <div class="form-group">
      <label for="gender" class="col-sm-2 control-label">Gender: </span></label>
      <div class="col-sm-3">
        <select class="form-control" id="gender" ng-model="party.gender">
          <option value="Not Selected" ng-selected="party.gender == 'Not Selected'">Not Selected</option>
          <option value="male" ng-selected="party.gender == 'male'">Male</option>
          <option value="female" ng-selected="party.gender == 'female'">Female</option>
          <option value="other" ng-selected="party.gender == 'other'">Other</option>
        </select>
      </div>
      <label for="dob" class="col-sm-1 control-label"> DOB:</label>
      <div class="col-sm-3">
        <input cleave="options.date" type="text" class="form-control" id="dob" name="dob" placeholder="DD/MM/YYYY" ng-model="datestring" ng-blur="setdate()">
        <span style="color: red" class="error" ng-show="form.dob.$error.type && form.dob.$dirty">Invalid Date.</span>        
        <span style="color: red" class="error" ng-show="form.dob.$error.future && form.dob.$dirty">Time travel to future not allowed!!!</span>                
      </div>
    <!--datestring -  {{datestring}}<br>-->
      <!--{{party.dob | date}}-->
      <label for="age" class="col-sm-1 control-label">Age:</label>
      <div class="col-sm-2">
        <input readonly type="text" class="form-control" id="age" placeholder="-" ng-model="age" tabindex="-1">
      </div>
    </div>
  <!--  <div class="form-group" style="margin-bottom:0px;">
      <label for="address1" class="col-sm-2 control-label">Address Line 1:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="address1" placeholder="Enter Address line 1" ng-model="party.address1">
      </div>
    </div>
    <div class="form-group" style="margin-bottom:0px;">
      <label for="address2" class="col-sm-2 control-label">Address Line 2:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="address2" placeholder="Enter Address line 2" ng-model="party.address2">
      </div>
    </div>
    <div class="form-group">
      <label for="address3" class="col-sm-2 control-label">Address Line 3:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="address3" placeholder="Enter Address line 3" ng-model="party.address3">
      </div>
    </div>
    <div class="form-group">
      <label for="city" class="col-sm-2 control-label">City:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="city" placeholder="Enter City" ng-model="party.city" uib-typeahead="city for city in citieslist | filter:$viewValue | limitTo:8"
          typeahead-focus-first="false" autocomplete="off">
        <span ng-show="(citieslist.indexOf(party.city) == -1)&& (party.city != undefined) && (party.city != '')">Creating New City!!!</span>
        <!-- <input required type="text" class="form-control" id="city" placeholder="Enter City" ng-model="party.city">
      </div>
      <label for="pin" class="col-sm-2 control-label">Pincode:</label>
      <div class="col-sm-2">
        <input type="text" maxlength="6" class="form-control" id="pin" placeholder="" ng-model="party.pin">
      </div>
    </div>
    <div class="form-group">
      <label for="state" class="col-sm-2 control-label">State:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="state" ng-model="party.state" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="phone1" class="col-sm-2 control-label">Primary Phone: <span style="color: red">*</label>
      <div class="col-sm-3">
        <input required type="text" class="form-control" id="phone1" placeholder="Enter Phone" ng-model="party.phone1">
      </div>
      <label for="phone2" class="col-sm-3 control-label">Secondary Phone:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="phone2" placeholder="Enter Phone" ng-model="party.phone2">
      </div>
    </div>
    <div class="form-group">
      <label for="tin" class="col-sm-2 control-label">TIN:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="tin" placeholder="Enter TIN" ng-model="party.tin">
      </div>
      <label for="email" class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="email" placeholder="Enter Email " ng-model="party.email">
      </div>
    </div>
-->
    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">Phone: <span style="color: red">*</span></label>
      <div class="col-sm-4">
        <input required cleave="options.phone" type="text" class="form-control" id="phone" name="phone" placeholder="" ng-model="party.phone" ng-blur="validatephone()" ng-change="revalidatephone()"> 
        <!--ng-pattern="/^\+[0-9]+$/">-->
        <span style="color: red" class="error" ng-show="form.phone.$error.required && form.phone.$dirty">Required!!!</span>
        <span style="color: red" class="error" ng-show="form.phone.$error.length && form.phone.$dirty">Looks like an invalid phone number.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="otherinfo" class="col-sm-2 control-label">Other Details:</label>
      <div class="col-sm-7">
        <textarea type="text" rows="4" class="form-control" id="otherinfo" placeholder="" ng-model="party.otherinfo"></textarea>
      </div>
    </div>

<!--hihiph - {{form.phone.$error}},{{form.phone.$valid}}<br>-->
<!--hihidob - {{form.dob.$error}},{{form.dob.$valid}}<br>-->
<!--hihi - {{form.$valid}}-->
    <div class="form-group pull-right" style="padding-right:15px;">

      <button ng-disabled="!form.$valid" type="submit" class="btn btn-success">Save</button>
      

    </div>


  </form>
  <button class="btn btn-danger" ng-click="reset(0)">Reset</button>
</div>